<h1>logo</h1>
<a href="/createnew">
    <h2>crea tu ofensa </h2>
</a>
<a href="/profile/<%= user._id %>">
    <h2>tu perfil </h2>
</a>
<h2>ofensas en orden de novedad</h2>

<% array.forEach((o,i,arr) => {  %>
    <ul>
        <li>
            <img src="<%= o.offense.offense_Id.img %>" width=100px height=100px</img>
        </li>
        <li>
            <%= o.offense.offense_Id.created_at %>
        </li>
        <li>
            <% if (!(o.isRated)){ %>
                <form action="/vote/<%=o.offense.offense_Id._id%>" method="POST">
                <select name="value">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button>Votar</button>
                </form>
                <% } else { %>
                    <a href="/delete/<%=o.offense.offense_Id._id%>">Elimina tu voto</a>
                    <%}%>
        </li>
    </ul>
    <% }) %>

        <a href="/logout" ´>
            <h2>Logout</h2>
        </a>