<div>
        <img src="../images/logo-off-horizontal.png">
</div>
<a href="/home">Go home</a>
<h2>User_Id: <%= user %>
<h2>User_name: <%= name %>

</h2>
<div>
    <h3>creados por mi</h3>
    <div>
        <% if (relationc.length>0) { %>
            <%= relationc %>
            <a href="delete/<%=relationc[0]._id%>" type="button" class="btn btn-danger">Delete</a>
        <%}%>
    </div>
</div>
<div>
    <h3>destinatario yo</h3>
    <div>
        <%= relationd %>
    </div>
</div>